doctype html
html(lang='es-ES')
	head
		title="Construcción y Reparación de Galpones, Techos y Tinglados | Argen-Tech SA"

		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Solicite presupuesto sobre Construcción y Reparación de galpones, techos y tinglados en Argen-Tech-SA')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

		link(href="font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")

		link(href="css/styles.css", rel="stylesheet")
		
		script(src="scripts/main.js")

		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')

	body
		// Plugin para Facebook
		#fb-root
		script.
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=805247039540795";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.cabecera
			.row
				.col-sm-6
					img(src="images/logo.png", alt="Logo")
				.col-sm-6.textoSupIzquierdo
					|Cristian Velázquez
					if (Recursos.Admin)
						br
						button.btn.btn-warning(type="button", onclick="location.href='/admin';", style="margin-top: 10px")
							i.fa.fa-cog(style="margin-right: 5px")
							|Administrar Sitio

			.row
				.col-xs-12
					h1.tituloPrincipal Estructuras Metálicas
					h2.tituloSecundario Construcción y Reparación de Galpones, Techos y Tinglados

			// Botón Me Gusta de Facebook
			a.fa.fa-facebook-square.fa-2x#linkFace(aria-hidden='true', href='https://es-la.facebook.com/people/Argentech-SA/100010201187991', target='_blank', title="Visitar página de Facebook de Argentech-SA")
			br
			.fb-like(data-href='https://tinglado.herokuapp.com/', data-width='700', data-layout='standard', data-action='like', data-size='large', data-show-faces='true', data-share='true')

			.row(style="margin-top: 10px;")
				.col-md-8
					.botonesFlotantes
						.botonFlotante
							i.fa.fa-1_5x.fa-picture-o
						.botonFlotante(style="display: none;")
							i.fa.fa-1_5x.fa-map-marker
					#carrusel.carousel.slide(data-ride='carousel')
						// Indicators
						ol.carousel-indicators
							- var ns = 0;
							while ns < Recursos.CantFotos
								if (ns==0)
									li.active(
										data-target='#carrusel'
										data-slide-to= ns
									)
								else
									li(
										data-target='#carrusel'
										data-slide-to= ns
									)
								- ns++
						// Wrapper for slides
						.carousel-inner(role='listbox')
							- var n = 0;
							while n < Recursos.CantFotos
								if (n==0)
									.item(style="text-align: center;")
										span.fa.fa-spinner.fa-spin(style="display: inline-block; margin-top: 100px; font-size: 50px; margin-bottom: 100%")
										img(
											alt = '...'
											style='max-width: initial; display: none'
										)
										.carousel-caption
								else
									.item.active(style="text-align: center;")
										span.fa.fa-spinner.fa-spin(style="display: inline-block; margin-top: 100px; font-size: 50px; margin-bottom: 100%")
										img(
											alt = '...'
											style='max-width: initial; display: inline-block'
										)
										.carousel-caption
								- n++

						// Controls
						a.left.carousel-control(href='#carrusel', role='button', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							span.sr-only Anterior
						a.right.carousel-control(href='#carrusel', role='button', data-slide='next')
							span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Siguiente

				.col-md-4(style='min-height:485px; padding: 0px 0px 0px 0px; overflow: hidden;')

					#formulario(style='display: inline-block; position: relative; width: 100%;')
						.tituloFormulario Complete el formulario por presupuestos. Nos contactaremos a la brevedad.
						form.form-horizontal.cuerpoFormulario(method='POST', action='', accept-charset='UTF-8', rel='nofollow', onSubmit='return false;')
							input(type='hidden', name='_token', value='sWUb6Gq4oi38vjNONW8y1JDU7zh8CjBg5dKz89No')
							.form-group
								label.col-sm-12(for='first_name') Nombre
								.col-sm-12
									input#first_name.form-control(placeholder='Nombre', name='first_name', type='text', maxlength='100')
							.form-group
								label.col-sm-12(for='last_name') Apellido
								.col-sm-12
									input#last_name.form-control(placeholder='Apellido', name='last_name', type='text', maxlength='100')
							.form-group
								label.col-sm-12(for='email') Email
								.col-sm-12
									input#email.form-control(placeholder='Email', name='email', type='text', maxlength='100')
							.form-group
								label.col-sm-12(for='phone_number') Teléfono
								.col-sm-4
									input#area_code.form-control(size='3', maxlength='5', placeholder='Cód.', name='area_code', type='text')
								.col-sm-1.infoCodigoArea
									i.fa.fa-question-circle(aria-hidden="true", data-toggle="tooltip", data-placement="top", title="Ejemplo código de área de Buenos Aires: 11")
								.col-sm-7
									input#phone_number.form-control(maxlength='50', placeholder='Teléfono', name='phone_number', type='text')
							.form-group
								label.col-sm-12(for='message') Mensaje
								.col-sm-12
									textarea#message.form-control(cols='', rows='', placeholder='Mensaje', name='message', maxlength='50000')
							.form-group
								.col-sm-12
									button#ContactButton.btn.btn-warning.botonEnviar(type="button", onclick="Contacto();")
										|ENVIAR
										span#ContactButtonNormal.fa.fa-envelope-o(style='margin-left: 5px')
										span#ContactButtonSpin.fa.fa-spinner.fa-spin(style='margin-left: 5px; display: none;')
							.form-group
								.col-sm-12
									#AlertExitoContacto.alert.alert-success(role='alert', style='display: none;') ...
									#AlertErrorContacto.alert.alert-danger(role='alert', style='display: none;') ...

		.franjaAzul Desde 1974 al Servicio de Nuestros Clientes

		.franjaInferior
			.row
				.col-sm-6
					div(style="font-size: 30px; margin-bottom: 30px")
						|¿Por Qué Elegirnos?
					//- Generado dinámicamente a partir de datos de BD
					ul.media-list
						each val in Recursos.Info
							li.media
								.media-left
									a(href='#')
										i.fa.fa-check-circle-o
								.media-body
									h4.media-heading #{val.Titulo}
									|#{val.Cuerpo}
				.col-sm-4
					.contenedorLLamar
						i.fa.fa-phone-square(style="display:block")
						button.btn.btn-warning.botonLlamar(type="button")
							i.fa.fa-phone(style="margin-right: 5px")
							|Click aquí para llamar
							
		.franjaExtra
			span#iconoManzana.glyphicon.glyphicon-apple.pull-right(aria-hidden='true', onclick="ManzanableInfinite();", onDblClick="ManzanableInfiniteX2();")